.sidebar {
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    height: 80%;
    flex: 0.2;
    justify-content: space-between;
  display: flex;
  }
  
  
  .sidebar__logout {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
  }

  /* Custom Dark Mode Toggle Element */

  .toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.5rem;
  }
  
  .toggle-theme-wrapper span {
    font-size: 28px;
    margin: 0 4px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: var(--accent);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }