.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    margin-right: 1rem;
    color: var(--twitter-color);
  }
  
  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 0px;
    color: var(--twitter-color);
  }
  
  .sidebarOption--active {
    color: var(--twitter-color);
  }

  .sidebarOption--backButton:hover{
    background-color:#F5F7F9 !important;
    color: rgb(184, 201, 218) !important;
    border-radius: 0;
  }