.topbarContainer {
  padding:0 1.5rem 0.5rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 0.5rem;
  background-color: inherit;
}

.topbarLeft {
  flex: 2.2;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.topbarleft--userprofile{
  flex: 1.29 !important;
}



.searchbar {
  width: 100%;
  border-color:var(--text-primary);
  border-radius: 8px;
  background: var(--search-textarea);
  display: flex;
  align-items: center;
  padding-left: 1 rem !important;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 1rem;
  padding-left: 3rem !important;
}

.searchInput {
  border: none;
  width: 70%;
  background:var(--search-textarea);
  padding: 1rem;
  color: var(--text-secondary);
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-primary);
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarLinks p a{
  font-size: 15px;
  font-weight: 700;

}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.searchbar-icon{
    margin-left: 1.5rem;
}

.profile__initals{
  margin-right: 1rem;
  padding: 0.65rem;
  background-color: var(--twitter-color);
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
border-radius: 50%;
color: var(--foreground);
}

.topbarCenter__backButton{
  display: flex;
}

.searchbar__results{
  position: absolute;
  top: 3.8rem;
  width: 43%;
  background-color:var(--accent-dark);
  border-radius: 0 0 8px 8px;
}

.searchbar__result{
 padding: 1.5rem !important;
 border-radius: 8px;
 cursor: pointer;
 background-color: var(--foreground) !important;
}

.searchbar__result:hover{
  background-color: lightgray !important;
}

.topbar__backButton{
  cursor: pointer;
}

.topbarCenter--userprofile:hover{
  background-color: var(--foreground) !important;
}

.topbarLinks{
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar_image{
  margin-right: 0.5rem !important;
  width: 40px !important;
  height: 40px !important;
}

 /* Custom Dark Mode Toggle Element */

 .toggle-theme-wrapper {
    
}

.theme_toggel p{
 margin: 0;
 padding: 0 1.5rem;
 display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;

}

.theme_toggel div:hover{
  background-color: var(--accent);
  transition: background-color 0.2s ease-out;
}

.theme_toggel >div{
  padding: 0.4rem;
  border-radius: 1.6rem;
  display: flex;
  background-color: var(--foreground);
  color: var(--text-primary);
}

.theme_toggel {
  margin-left: 2.5rem;
  cursor: pointer;
}

.fa-moon, .fa-sun{
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.theme_toggel > .MuiSvgIcon-root{
  background-color: black !important;
}

.theme_toggel .theme_icon{
  background: red;
  color: white;
  padding: 0.2rem;
}

.toggle-theme-wrapper span {
  font-size: 28px;
  margin: 0 4px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: var(--accent);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.fa-magnifying-glass{
  color: var(--text-secondary);
}
