.topbarContainer {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: inherit;
}

.topbarLeft {
  flex: 2.2;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  border-color: black;
  border-radius: 8px;
  background: #ECEEF2;
  display: flex;
  align-items: center;
  padding-left: 1 rem !important;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 1rem;
  padding-left: 3rem !important;
}

.searchInput {
  border: none;
  width: 70%;
  background: #ECEEF2;
  padding: 1rem;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.searchbar-icon{
    margin-left: 1.5rem;
}

.profile__initals{
  margin-right: 1rem;
  padding: 0.65rem;
  background-color: var(--twitter-color);
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
border-radius: 50%;
color: white;
}

.topbarCenter__backButton{
  display: flex;
}