.editProfileModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  z-index: 1000;
  background-color: white;

  flex-shrink: 1;
  min-width: 600px;
  border-radius: 16px;
  max-height: 90vh;
  max-width: 80vw;
  min-height: 400px;
  height: 650px;
}

.modal-header{
    display: flex;
    margin-bottom: 1rem;
}

.modal-header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header-right h3{
    margin-left: 1.5rem;
}

.modal-profile-picture{
    margin: 2rem 0;
}

.modal-profile-picture-placeholder{
    padding: 2rem;
    background-color: blue;
    max-width: 112px;
    max-height: 112px;
    margin: 2rem auto;
    border-radius: 50%;
}

.modal-profile-details{
    width: 100% !important;
}

.modal-profile-details textarea{
    resize: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
