.userProfile__header{
    display: flex;
    padding: 1rem 0;
    justify-content:space-between;
    align-items: center;
}

.user_details_wrapper{
    display: flex;
    width: 80%;
}

.userProfile__Stats{
    display: flex;
    padding: 0.8rem 0;
    justify-content: flex-start;
    margin-right: 1rem !important;
}

.stats{
    margin-right: 3rem;
    cursor: pointer;
}

.stats h4{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identical to box height, or 129% */

letter-spacing: 0.650273px;

color: #000000;
}

.userProfile__userDetails p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height, or 138% */

letter-spacing: 0.650273px;

color: rgba(0, 0, 0, 0.54);
}

.userProfile__userDetails h2{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identical to box height, or 129% */

letter-spacing: 0.650273px;

color: #000000;
margin-bottom: 0.5rem;
}

.userProfile__posts{
    margin-top: 1rem;
}

/*
.displayPicture{
    width: 120px;
    height: 120px;
    background-color: var(--twitter-color);
    margin-right: 0.5rem;
    border-radius: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/





.userProfile__displayPicture img{
    border-radius: 50%;
}

.userProfile__userDetails{
    flex: 1;
   /* margin-right: 3rem !important;*/
}

.userProfile__displayPicture{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    margin-right: 1.5rem;
    background-color: #1b94e0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
    
}

.displayPicture__image{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
}

.userProfile__editButton{
    flex: 1;
}