.userProfile__header{
    display: flex;
    padding: 1rem 0;
    justify-content:flex-start;
    align-items: center;
}

.userProfile__Stats{
    display: flex;
    padding: 0.8rem 0;
    justify-content: start;
    margin-right: 1rem !important;
}

.stats{
    margin-right: 2.5rem;
}

.userProfile__posts{
    margin-top: 1rem;
}

/*
.displayPicture{
    width: 120px;
    height: 120px;
    background-color: var(--twitter-color);
    margin-right: 0.5rem;
    border-radius: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.userProfile__displayPicture{
    width: 180px !important;
    height: 120px !important;
    margin-right: 1rem;
    border-radius: 50% !important; 
    background-image: url(https://source.unsplash.com/random/200*200);
}

.userProfile__displayPicture img{
    border-radius: 50%;
}

.userProfile__userDetails{
    flex: auto;
    margin-right: 4rem !important;
}