.actionButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 15px;
    background: var(--accent-light);
    border-radius: 8px;
    cursor: pointer;
    max-height: 44px;
}
 

.actionButton:hover{
   opacity: 50%;
}

.actionButton__text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 450;
font-size: 14px;
/* identical to box height, or 171% */
letter-spacing: 0.15px;
color: var(--text-secondary);

}

.actionButton__icon{
    color: var(--text-secondary);
}