.actionButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 15px;
    
    background: #F8F8F8;
    border-radius: 8px;
    cursor: pointer;
}
 

.actionButton:hover{
    background-color: lightgrey;
}

.actionButton__text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 450;
font-size: 14px;
/* identical to box height, or 171% */
letter-spacing: 0.15px;
color: #343E4B;

}