*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin: 0px;
}

.commentConatiner{
    margin:  1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #DFF3FF;
    color: var(--accent);
}

.comment__username{
    font-weight: bolder;
}