.navbar{
  position: static;
  top: 0;
  z-index: 100;
}

.Newsfeed {
  margin: 0;
}
.newsfeed_headerImage{
  /* keeping the image still no matter what */
  width: 400px;
    height: 20;
  object-fit: contain;
  background-color: white;
  /* boarder grey line */
  padding: 1%;
  border-bottom:1px solid lightblue ;
}
.newsfeed{
   height: 100%;
}

/*-----Code from Siys */

.layout__right-sidebar {
  position: fixed;
  width: 300px;
}

.tweet {
  display: flex;
  margin: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #000000;
}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tweet a {
  color: #1b94e0;
  text-decoration: none;
}

.tweet a:hover {
  text-decoration: underline;
}

.tweet__author-logo {
  width: 50px !important;
  height: 50px !important; 
  border-radius: 50%;
  margin-right: 1.5rem;
}

.tweet__header {
  display: flex;
}

.tweet__author-name {
  font-size: 15px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.tweet__author-slug {
  color: #5b7083;
  font-size: 15px;
}

.tweet__publish-time {
  margin-left: 5px;
  color: #657786;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 1.5rem;
}

.layout__main{
  margin-top:0.1rem;
}

.tweet__content{
  margin-top: 1rem;
}

/*--------------------SIDEBAR MENU---------------------*/

.sidebar-menu {
  position: fixed;
}

.sidebar-menu__item {
  font-size: 19px;
  color: #0F141A;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.sidebar-menu__item:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da0f2;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar-menu__item--active {
  color: #1da0f2;
}

.sidebar-menu__item-icon {
  height: 26px;
  margin-right: 20px;
}

.sidebar-menu__item--active .sidebar-menu__item-icon {
  filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
}


/******************RIGHT SIDEBAR*************/

.layout {
  display: grid;
  grid-template-columns: 180px auto 300px;
  margin: 0 auto;
  max-width: 1200px;
}


.layout__right-sidebar {
  position: fixed;
  width: 300px;
}

/*-----------------WHO TO FOLLOW-------------------*/

.who-to-follow {
  background: #f5f8fa;
  border-radius: 15px;
}


.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.who-to-follow__block:last-child {
  border-bottom: none;
}

.who-to-follow__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.who-to-follow__author-slug {
  color: #657786;
  font-size: 15px;
}

.who-to-follow__author-name {
  font-size: 15px;
  font-weight: 700;
}

.who-to-follow__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.who-to-follow__heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.who-to-follow__button {
  border: 1px solid #1da0f2;
  color: #1da0f2;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}

.who-to-follow__button:hover {
  background: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}