.app-container{
  max-width: 1300px;
  background-color: #F5F7F9;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
}

p{
  margin: 0;
}

.navbar{
  position: static;
  top: 0;
  z-index: 100;
}

.Newsfeed {
  margin: 0;
}
.newsfeed_headerImage{
  /* keeping the image still no matter what */
  width: 400px;
    height: 20;
  object-fit: contain;
  background-color: white;
  /* boarder grey line */
  padding: 1%;
  border-bottom:1px solid lightblue ;
}
.newsfeed{
   height: 100%;
}

/*-----Code from Siya */

.tweet {
  display: flex;
  margin: 1rem;
  margin-top: 2rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
  background-color: white;

}

.tweet:hover {
  cursor: pointer;
  border: 1px solid lightgrey;
}

.tweet a {
  color: #1b94e0;
  text-decoration: none;
}

.tweet a:hover {
  text-decoration: underline;
}

.tweet__author-logo {
  width: 50px !important;
  height: 50px !important; 
  border-radius: 50%;
  margin-right: 1.5rem;
}

.tweet__main{
  width: 100%;
}

.tweet__header {
  display: flex;
  padding: 1rem 0;
}

.tweet__author-name {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16.3125px;
line-height: 26px;
/* identical to box height, or 158% */

letter-spacing: 0.203906px;

color: #343E4B;
  margin-right: 5px;
}

.tweet__author-slug {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16.3125px;
/* identical to box height, or 158% */

letter-spacing: 0.203906px;

color: #343E4B;
}

.tweet__publish-time {
  margin-left: 5px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* or 103% */

letter-spacing: 0.203906px;

color: #7890A7;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin: 1rem 0rem;
}


.tweet__content{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
padding-bottom: 1rem;
min-height: fit-content;
/* or 125% */

/* 00. On Surface / Medium Emphasis */

color: rgba(0, 0, 0, 0.6);
}

/*--------------------SIDEBAR MENU---------------------*/

.sidebar-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  padding-top: 1.5rem;
}

.sidebar-menu__item {
  font-size: 19px;
  color: #0F141A;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.sidebar-menu__item:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da0f2;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar-menu__item--active {
  color: #1da0f2;
}

.sidebar-menu__item-icon {
  height: 26px;
  margin-right: 20px;
}

.sidebar-menu__item--active .sidebar-menu__item-icon {
  filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
}


/******************RIGHT SIDEBAR*************/



/*-----------------WHO TO FOLLOW-------------------*/

.who-to-follow {
  border-radius: 8px;
  padding: 1rem;
}


.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background: #EEF2F6;
border-radius: 8px;
margin: 1rem 0;
align-items: center;
}

.who-to-follow__block:last-child {
  border-bottom: none;
}

.who-to-follow__author-logo {
  padding: 1rem;
  border-radius: 50px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.who-to-follow__author-slug {
  color: #657786;
  font-size: 15px;
}

.who-to-follow__author-name {
  font-size: 15px;
  font-weight: 700;
}

.who-to-follow__content {
  display: flex;
  justify-content: space-between;
  width: 100%;

  display: flex;
  align-items: center;
}

.who-to-follow__heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
  background: white;

  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

letter-spacing: 0.15px;

color: #343E4B;
}

.who-to-follow__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 16px;
  background: #F9FAFC;
  border-radius: 8px;
}

.followcont p, .followbtn{
  padding: 10px;
  background: #F9FAFC;
border-radius: 8px;
min-width: 120px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
cursor: pointer;
}



.who-to-follow__button:hover {
  background: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}

.layout{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.layout__main{
  flex: 0.65;
  min-width: auto;
  overflow-y: scroll;
  margin-bottom: 7rem;
}

.layout__right-sidebar{
  background-color: white;
  border-radius: 8px;
  height: fit-content;
  margin: 2rem 1rem;
  flex: 0.35;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.layout__main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.layout__main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

