.navbar{
  position: static;
  top: 0;
  z-index: 100;
}
 
 .post{
    /* size of pic */
    background-color: #ffffff;
    max-width: 800px;
    border: 1px solid lightgray;
    /* placing the images in a border-start-end-radius: ; */
    margin-bottom:  45px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    /* gap between images */

 }
 .post_image{
    
    width: 100%;
    object-fit: contain;
    

 }
 .post_text{
    /* make the  comment  different from name  */
    font-weight: normal;
 }
 .post_header{
    /* puts them in a row */
    display: flex; 
    align-items: center;
    padding: 20px;
 }
 .post_avatar{
    margin-right:10px ;
 }

 .tweet__action-buttons{
   display: flex;
   justify-content: space-between;
 }


 .tweet__comment-section{
   margin-top: 1.5rem;
 }

 .tweet__comment-section input{
   border-radius: 8px;
   margin-right: 1rem;
 }

 .tweet__comment-section input:focus{
   border: 2px solid blue;
   background-color: white;
   color: #0F141A;
 }

 .tweet-action__item{
  color: #0F141A;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: space-around;
  background-color: #F8F8F8;
  padding: 0 1rem;
  border-radius: 8px;
  flex: 1;
  margin: 0 1rem;
 }

 .tweet-action__item-icon{
   width: 24px;
   height: 24px;
 }

 .tweet__share-section{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.tweet__share-section input{
  border-radius: 8px;
}

.tweet__share-section input:focus{
  border: 2px solid blue;
  background-color: white;
  color: #0F141A;
}